Options -MultiViews

AddDefaultCharset utf-8

RewriteEngine on

RewriteCond %{HTTPS} !=on
RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R=301,L]

# Redirect anything that isn't cdroulers.com to cdroulers.com
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

RewriteRule ^writings/([-_a-z0-9]+)/page-([0-9]+)$ /writings/$1/page-$2/ [R=301]
RewriteRule ^writings/([-_a-z0-9]+)/page-([0-9]+)/$ /writings/$1/page-$2.html

RewriteRule ^ecritures/(.*)$ /writings/$1 [R=301]
RewriteRule ^projets/(.*)$ /projects/$1 [R=301]

ErrorDocument 404 /404.html